*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 100vh;
    
    padding-top: 0.15px ;
}

/* Nav Related Styles */

nav{
    width: 100vw;
    height: 12vh;
    margin-top: 2vw;

    padding: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.nav-title{
    width: 30vw;
    font-family: monument;
    font-size: 32px;

    position: relative;
}

.nav-title::after{
    content: "\00A9";
    font-size: 24px;
    color: rgb(59, 56, 56);
    font-weight: 300;

    position: absolute;
    top: 5;
}

.nav-title::before{
    content: "model management";
    font-size: 12px;
    color: rgb(59, 56, 56);
    font-weight: 300;

    position: absolute;
    top: 2vw;
    left: 2vw;   
}

.nav-menu{
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6vw;
    font-weight: 500;

    border-left: 2px solid black;

}

#models{
    width: 20vw;
    border: none;
}

#abi{
    width: 30vw;
}

#search-in-nav{
    width: 8vw;
    height: 100%;
    border-left: 2px solid #000;
}

#menu-icon{
    display: none;
}

/* Hero Section Styles */
#hero{
    width: 100vw;
    height: 80vh;
    padding: 2vw 5vw;
}

.hero-content{
    width: 100%;
    height: 100%;

    position: relative;
}

.hero-content video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#overlay{
    width: 80%;
    height: 30%;

    position: absolute;
    bottom: 2%;
    left: 8%;
}

#overlay-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #fafafa;
}

#overlay-top h2{
    color: #fafafa;
    font-family: monument;
    font-size: 3.5vw;
    font-weight: 600;
    letter-spacing: 2px;
}

#overlay-top h3{
    color: #fafafa;
    font-size: 2vw;
    font-weight: 200;

    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 1px solid #fafafa;

    display: flex;
    align-items: center;
    justify-content: center;
}


#overlay-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

#overlay-bottom h4{
    color: #fafafa;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Image Scrolling Section Related Styles */

#scroller{
    width: 100%;
    height: 30%;
    padding: 1vw;

    white-space: nowrap;

    overflow-x: hidden;
    overflow-y: hidden;
}

#scroller-content{
    width: 110%;
    height: 100%;

    padding: .50vw;

    display: inline-block;

    animation-name: autoScrolling;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;

}

#scroller-content img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    margin: 10px 40px;

    object-fit: cover;
    object-position: top;

}


@keyframes autoScrolling {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

/* Alphabets Section Related Styles */
#alphabets{
    width: 100vw;
    height: 10vh;


    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 2px solid #000 ;
    border-bottom: 2px solid #000 ;
}

#alphabets h4{
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    margin-right: 2vw;

}

#alphabets h6{
    font-size: 1.2vw;
    font-weight: 500;
    font-style: italic;
    margin-right: 1.5vw;

}

#alphabets h6:hover{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;


    transition: linear ease;

}

/* Page2 Related Styles */

#page2{
    width: 100vw;
    height: 100vh;
    margin-top: 8vh;

    padding: 0 5vw;

    display: flex;
    align-items: center;
    gap: 5vw;
}

#page2-part1{
    width: 50%;
    height: 100%;
}

#page2-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#page2-part2{
    width: 40%;
    height: 100%;

}
#page2-part2 img{
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;

}

#part2-text{
    margin-top: 20px;
    display: flex;
    gap: 5vw;
}

#part2-text h2{
    font-size: 28px;
    font-weight: 600;
}
#part2-text p{
    font-size: 18px;
    font-weight: 500;
}



/* Page3 Related Styles */

#page3{
    width: 100vw;
    height: 100vh;

    padding: 0.05vw 5vw;

    /* display: flex;
    align-items: center;
    gap: 5vw; */
}
#page3 h2{
    font-size: 3vw;
    font-family: monument;
    margin: 1vh 0vw;
}

#page3-content{
    width: 100%;
    height: 90.5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-content-part1{
    width: 55%;
    height: 100%;
    margin-top: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;
}

#page3-content-part1 img{
   width: 300px;
   height: 300px;
   position: relative;

   margin: 0px 5vw;

}

#page3-content-part1 #arrow{
   position: absolute;
   top: 25%;
   left: 11%;
}

#page3-content-part1 p{
   font-size: 32px;
   font-weight: 500;

   margin-top: 8vw;
}


#page3-content-part2{
    width: 45%;
    height: 100%;
    padding: 5vh 0vh;
}

#page3-content-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    border-radius: 1vw;

}


/* Page4 Related Styles */
#page4{
    width: 100%;
    height: 100%;
    padding: 5vw;

    position: relative;
    
}

#page4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page4-overlay{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 12%;
    left: 92%;

    font-size: 18px;
}