*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
}

main{
    width: 100%;
    height: 100vh;
    
    padding-top: 0.15px ;
}

/* Nav Related Styles */

nav{
    width: 100%;
    height: 12vh;
    margin-top: 2vw;

    padding: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.nav-title{
    width: 30vw;
    font-family: monument;
    font-size: 32px;

    position: relative;
}

.nav-title::after{
    content: "\00A9";
    font-size: 24px;
    color: rgb(59, 56, 56);
    font-weight: 300;

    position: absolute;
    top: 5;
}

.nav-title::before{
    content: "model management";
    font-size: 12px;
    color: rgb(59, 56, 56);
    font-weight: 300;

    position: absolute;
    top: 2vw;
    left: 2vw;   
}

.nav-menu{
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.6vw;
    font-weight: 500;

    border-left: 2px solid black;

}

#models{
    width: 20vw;
    border: none;
}

#abi{
    width: 30vw;
}

#search-in-nav{
    width: 8vw;
    height: 100%;
    border-left: 2px solid #000;
}

#menu-icon{
    display: none;
}





